body {
  background-image: linear-gradient(185deg, rgb(0, 24, 90), rgb(3, 179, 182));
  background-attachment: fixed;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.container {
  text-align: center;
  width: 920px;
  max-width: 100%;
  margin: 30px auto;
}

h2 {
  margin: 10px;
}

table {
  margin-top: 30px;
  font-size: 13px;
  color: aliceblue;
}

.navbar {
  font-size: 15px;
}
